<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                     <!-- Right Side Div -->
                     <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt='aboutimage' class="img-fluid" title="vimal web">
                        </figure>
                    </div>
                    <!-- Left Side Div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome To Weather App</p>
                        <h1>I'm <span class="text_clr"> Web Developer </span>And Want to Be Best Of It</h1>
                        <a href="https://www.google.com/" target="_vimal">
                            <button>About Us</button>
                        </a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
   {{>footer}}
</body>
</html>